@{
    ViewBag.Title = "Κεντρική Σελίδα";
}

    <div class="jumbotron" style="margin-top: 20px;">
        <h1 style="text-align: center; color:#ffffff;">Καλώς Ορίσατε</h1><br />
        <p style="text-align:center;color:#fff;">Για να δείτε ή να επεξεργαστείτε τις βάσεις και να δείτε ορισμένες αναφορές παρακαλώ πλοηγηθείτε μέσω του μενού πλοήγησης που βρίσκεται στο πάνω μέρος της ιστοσελίδας.</p>
        
    </div>
